<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    {% include 'head.html' %}
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
            <ul>
                <li class="col-sm-6"><a class="btn form-control btn-success" href="/login">Login</a></li>
                <li class="col-sm-6"><a class="btn form-control btn-primary" href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>